<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9" ng-app="ng-gallery-app" lang="en-us"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" ng-app="ng-gallery-app" lang="en-us"> <!--<![endif]-->
<head>
  <link href="http://fonts.googleapis.com/css?family=Muli:300italic,300,400italic,400" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Angularjs Gallery</title>
  <meta name="description" content="Simple gallery made by Angularjs.">
  <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body ng-controller="galleryCtrl">

<div class="slider">
  <img ng-repeat="slide in data.slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.src}}">

  <a class="arrow prev" href="#" ng-click="nextSlide()">
    <div class="arrow_div_pre"></div>
  </a>


  <a class="arrow next" href="#" ng-click="prevSlide()">
    <div class="arrow_div_next">
    </div>
  </a>

  <nav class="nav">
    <div class="wrapper">
      <ul class="dots">
        <li class="dot" ng-repeat="slide in data.slides">
          <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index)">
            {{ slide.description }}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<!--Not sure why jquery is needed -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="thirdparty/angular-1.2.7/angular.js"></script>
<script src="thirdparty/angular-1.2.7/angular-animate.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="scripts/ng_gallery_app.js"></script>
</body>
</html>
